section{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#text{
  margin: 64px auto 0;
  height: 64px;
  line-height: 64px;
  font-size: 64px;
  letter-spacing: .1em;
}

#time{
  height: 24px;
}

#button{
  margin: 0 auto;
  width: 128px;
  height: 64px;
  line-height: 64px;
  background-color: #ccc;
  border-radius: 10%;
  user-select: none;
}
#button:hover{
  opacity: 0.6;
}

#result{
  font-size: 16px;
}